*,
body,
button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  background: #fafafa;
  display: flex;
  justify-content: center;
}

/* GERAL */
header {
  width: 100%;
  height: 69px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

h1 {
  font-size: 37px;
  line-height: 43px;
  font-weight: 700;

  color: #ffffff;
}

/* CRIAR QUIZZ -  FORMULÁRIO */
.c-main {
  width: 100%;
  padding-top: 106px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
}

.c-main h2,
.c-main legend {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;

  color: #000;
}

.c-main__formulario {
  width: 100%;
}

.c-main__formulario legend {
  text-align: center;
}

.c-informacoes-gerais__content {
  width: 100%;
  margin-top: 29px;
  padding: 22px 16px;

  display: flex;
  flex-direction: column;
  gap: 9px;

  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.c-main input {
  height: 46px;
  width: 100%;
  padding-left: 14px;

  border-radius: 5px;
  border: 1px solid #d1d1d1;

  font-size: 19px;
  line-height: 22px;
}

.c-main__formulario-button {
  width: 100%;
  margin-top: 29px;
  padding: 0 25px;

  display: flex;
  justify-content: center;
}

.c-main__button-prosseguir {
  height: 54px;
  width: 100%;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  border-radius: 15px;
  color: #fff5f4;
  background: #ec362d;
}

.com-icone {
  display: flex;
  justify-content: space-between;
}

/* CRIAR QUIZZ - ETAPA 2 */
.c-main__content {
  width: 100%;
  margin-top: 24px;
  padding: 27px 17px;

  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.c-main h2:not(:first-child) {
  margin-top: 28px;
}

.c-main__content input + input,
.c-main__content input + textarea {
  margin-top: 14px;
}

.c-main__line {
  margin-top: 12px;
}

.c-main__line:not(h2 + div) {
  margin-top: 32px;
}

/* CRIAR QUIZZ - ETAPA 3 */
.c-main textarea {
  height: 177px;
  width: 100%;
  padding: 14px;

  border-radius: 5px;
  border: 1px solid #d1d1d1;

  font-size: 19px;
  line-height: 22px;

  resize: none;
}

/* CRIAR QUIZZ - SUCESSO */
.c-main__sucesso {
  width: 100%;
  padding: 0 18px;
}

.c-main__sucesso h2 {
  text-align: center;
  margin-bottom: 29px;
}

.c-sucesso__container-img {
  width: 100%;
  margin-bottom: 24px;

  display: flex;
  position: relative;
}

.c-sucesso__container-img img {
  width: 100%;
  border-radius: 5px;
}

.c-sucesso__container-img p {
  font-size: 19px;
  line-height: 22px;

  color: #fff;

  position: absolute;
  left: 17px;
  bottom: 18px;
  z-index: 1;
}

.c-sucesso__background {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 65.62%,
    rgba(0, 0, 0, 0.8) 100%
  );

  position: absolute;
  top: 0;
  z-index: 1;
}

.c-sucesso__container-button {
  width: 100%;

  display: flex;
  justify-content: center;
}

.c-sucesso__container-button + .c-sucesso__container-button {
  margin-top: 9px;
}

.c-sucesso__container-button button {
  width: 220px;
  height: 44px;

  font-size: 18px;
  line-height: 21px;
}

.c-sucesso__button-acessar {
  border-radius: 15px;
  color: #fff5f4;
  background: #ec362d;
}

.c-sucesso__button-voltar {
  color: #818181;
}

.c-main button:hover {
  filter: brightness(0.9);
}

::placeholder {
  font-style: italic;
  color: #bababa;
}

/* TELA LISTA DE QUIZZES */
.container-conteudos {
  margin-top: 146px;
  width: 1066px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.criar-quizz button {
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  height: 40px;
  width: 151px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;
}
.criar-quizz p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #b9b9b9;
  text-align: center;
}
.criar-quizz {
  margin-bottom: 77px;
  background-color: #ec362d;
  width: 100%;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
}

.titulo-opcoes-quizz,
.titulo-adicionar-quizz {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: flex-start;
  margin-bottom: 12px;
}

.opcoes-quizz,
.quizzes-adicionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.quizzes-adicionados {
  width: 1066px;
}

.quizz1,
.quizz2,
.quizzadd1,
.quizzadd2 {
  width: 340px;
  height: 181px;
  background-color: red;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #0000003b 100%
    ),
    url(./assets/simpsons.png);
  background-size: auto;
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
  margin-right: 15px;
}

.quizz2 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #0000003b 100%
    ),
    url(./assets/preguica.png);
}

.quizzadd1 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #0000003b 100%
    ),
    url(./assets/harrypotter.png);
}

.quizzadd2 {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 64.58%,
      #0000003b 100%
    ),
    url(./assets/deferiascomex.png);
}

.quizz1 p,
.quizz2 p,
.quizzadd1 p,
.quizzadd2 p,
.background-quizz p {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 18px;
  margin-bottom: 7px;
}

.quizz2 p,
.quizzadd1 p,
.quizzadd2 p {
  margin-bottom: 20px;
}

.titulo-adicionar-quizz ion-icon {
  color: #ffffff;
  background-color: #ec362d;
  border-radius: 500px;
  font-size: 25px;
  margin-left: 17px;
}

.titulo-adicionar-quizz {
  display: flex;
  align-items: center;
}

.esconder {
  display: none !important;
}

@media (min-width: 1100px) {
  /* CRIAR QUIZZ - FORMULÁRIO */
  .c-main {
    padding-top: 140px;
    padding-bottom: 30px;
  }

  .c-main legend {
    font-size: 23px;
    line-height: 27px;
  }

  .c-main__formulario {
    max-width: 600px;
  }

  .c-main input {
    padding-left: 23px;
  }

  .c-main__formulario-button {
    margin-top: 85px;
  }

  .c-main__button-prosseguir {
    max-width: 369px;

    font-size: 21px;
    line-height: 25px;
  }

  /* CRIAR QUIZZ - ETAPA 2 */
  .c-main__content {
    margin-top: 36px;
  }

  /* CRIAR QUIZZ - ETAPA 3 */
  .c-main textarea {
    height: 48px;
    padding: 12px 23px;
  }

  /* CRIAR QUIZZ - SUCESSO */
  .c-main__sucesso {
    max-width: 500px;
  }

  .c-main__sucesso h2 {
    margin-bottom: 46px;
  }

  .c-sucesso__container-img {
    margin-bottom: 45px;
  }

  .c-sucesso__container-img p {
    font-size: 23px;
    line-height: 27px;

    left: 23px;
  }

  .c-sucesso__container-button button {
    font-size: 21px;
    line-height: 25px;
  }
}

@media (max-width: 1100px) {
  .titulo-opcoes-quizz,
  .titulo-adicionar-quizz .opcoes-quizz,
  .container-conteudos,
  .quizzes-adicionados {
    width: 80%;
  }

  .container-conteudos,
  .opcoes-quizz,
  .quizzes-adicionados {
    width: 340px;
    justify-content: center;
    flex-direction: column;
  }

  .titulo-opcoes-quizz,
  .titulo-adicionar-quizz {
    width: 340px;
  }

  .titulo-adicionar-quizz {
    justify-content: space-between;
  }
}

/* DISPLAY PERGUNTAS DO QUIZZ */
.container-conteudos.novo-container {
  margin-top: 69px;
}

.background-quizz {
  width: 100vw;
  max-height: 227px;
  min-height: 142px;
  background-image: url(./assets/harrypotter.png);
  background-size: cover;
  background-position: center;
}

.titulo-quizz {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-height: 227px;
  min-height: 142px;
  display: flex;
  justify-content: center;
  align-items: center;
}